:root {
	color: $font-color;
	font-family: 'Sans serif';
}

.l-vehicle-manager {
	display: grid;
	grid-template-columns: 30% auto;
	margin: 0 auto;
	width: 100%;

	&-apikey {
		display: block;
		padding: 0 $spacing;
	}

	&__sidebar {
		display: block;
		padding: 0 $spacing;
	}

	&__map {
		height: 80vh;
		padding: 0 $spacing;
	}
}

.m-vehicle-manager__map {
	height: 70vh;
}

.vue-map-container {
	position: relative;
}
