// color schema
$black: #333333;
$red: #ff0000;

// typography
$font-color: $black;
$font-color-warning: $red;

// spacing
$spacing: .8rem;
$spacing-smaller: .5rem;

// borders and details
$border: 1px solid $font-color;
